# Annotate TSS

Before building the base GRN, we need to annotate the coaccessible peaks and filter our active promoter/enhancer elements. First, we will identify the peaks around transcription starting sites (TSS). We will then merge the Cicero data with the TSS peak information and filter any peaks with weak connections to the TSS peaks. As such, the filtered peak data will only include TSS peaks and peaks with strong TSS connections. These will be our active promoter/enhancer elements for our base GRN.


Most of this code is from the CellOracle tutorial: https://morris-lab.github.io/CellOracle.documentation/notebooks/01_ATAC-seq_data_processing/option1_scATAC-seq_data_analysis_with_cicero/02_preprocess_peak_data.html

### 1. Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns


import os, sys, shutil, importlib, glob
from tqdm.notebook import tqdm

%config InlineBackend.figure_format = 'retina'

plt.rcParams['figure.figsize'] = [6, 4.5]
plt.rcParams["savefig.dpi"] = 300

In [2]:
bedtools_gcc_path = '/project/clark-saucerman/bedtools2/bin:/apps/software/standard/core/gcc/12.2.0/bin'
original_path = os.environ.get('PATH')
os.environ['PATH'] = bedtools_gcc_path + ':' + original_path
lib_path = '/apps/software/standard/core/gcc/12.2.0/lib64'  # Adjust the path if necessary
os.environ['LD_LIBRARY_PATH'] = lib_path + ':' + os.environ.get('LD_LIBRARY_PATH', '')

In [3]:
import warnings
warnings.filterwarnings('ignore')
from celloracle import motif_analysis as ma
import celloracle as co
co.__version__

which: no R in (/project/clark-saucerman/bedtools2/bin:/apps/software/standard/core/gcc/12.2.0/bin:/apps/software/standard/core/jupyterlab/3.6.3-py3.11:/apps/software/standard/core/jupyterlab/3.6.3-py3.11/sbin:/apps/software/standard/core/jupyterlab/3.6.3-py3.11/bin:/home/apc5un/bedtools2/bin:/opt/mam/9.1.2/bin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/opt/slurm/current/bin:/opt/singularity/current/bin:/opt/rci/bin:/share/rci_apps/common/bin:/share/resources/HPCtools:/opt/mam/current/bin:/opt/apptainer/current/bin)

'0.14.0'

### 2. Load scATAC peak data and peak connection data made with Cicero

In this notebook, we will annotate and filter output from Cicero. Refer to data output from `make-cicero.R`.

Here, I will use either the pan-cardiac cicero connections, or cluster-by-cluster connections.

Below, I load the peaks and cicero CSV files. You'll do this for each timepoint and both WT/KO conditions.

In [4]:
timepoint = "E85"
# wt_or_ko = "WT"
peaks = pd.read_csv(f"./data/base_grn_outputs/{timepoint}/peaks.csv", index_col=0)
peaks = peaks.x.values
peaks

array(['chr1_3030285_3030785', 'chr1_3057453_3057953',
       'chr1_3191883_3192383', ..., 'chrX_169911084_169911584',
       'chrX_169933721_169934221', 'chrX_169935904_169936404'],
      dtype=object)

In [5]:
cicero_connections = pd.read_csv(f"./data/base_grn_outputs/{timepoint}/cicero_connections.csv", index_col=0)
cicero_connections

                              Peak1                     Peak2  coaccess
1         chr10_100014083_100014583   chr10_99759099_99759599  0.000000
2         chr10_100014083_100014583   chr10_99824387_99824887  0.000000
3         chr10_100014083_100014583   chr10_99841329_99841829  0.000000
4         chr10_100014083_100014583   chr10_99875647_99876147  0.000000
5         chr10_100014083_100014583   chr10_99882667_99883167 -0.000439
...                             ...                       ...       ...
22950869     chrX_99976238_99976738    chrX_99974318_99974818 -0.020320
22950870     chrX_99976238_99976738    chrX_99975210_99975710  0.117586
22950872     chrX_99976238_99976738  chrX_100078706_100079206  0.000000
22950873     chrX_99976238_99976738  chrX_100117571_100118071  0.000000
22950874     chrX_99976238_99976738  chrX_100118235_100118735  0.000000

[22743986 rows x 3 columns]

### 3. Annotate transcription start sites

Use mm10 reference genome by setting ref_genome="mm10".

In [6]:
ma.SUPPORTED_REF_GENOME

               species            ref_genome           provider
0                Human                  hg38               UCSC
1                Human                  hg19               UCSC
2                Mouse                  mm39               UCSC
3                Mouse                  mm10               UCSC
4                Mouse                   mm9               UCSC
5         S.cerevisiae               sacCer2               UCSC
6         S.cerevisiae               sacCer3               UCSC
7            Zebrafish               danRer7               UCSC
8            Zebrafish              danRer10               UCSC
9            Zebrafish              danRer11               UCSC
10  Xenopus tropicalis               xenTro2               UCSC
11  Xenopus tropicalis               xenTro3               UCSC
12      Xenopus laevis  Xenopus_laevis_v10.1               NCBI
13                 Rat                   rn4               UCSC
14                 Rat                   rn5               UCSC
15                 Rat                   rn6               UCSC
16          Drosophila                   dm3               UCSC
17          Drosophila                   dm6               UCSC
18           C.elegans                   ce6               UCSC
19           C.elegans                  ce10               UCSC
20         Arabidopsis                TAIR10            Ensembl
21             Chicken               galGal4               UCSC
22             Chicken               galGal5               UCSC
23             Chicken               galGal6               UCSC
24          Guinea_Pig             Cavpor3.0            Ensembl
25                 Pig           Sscrofa11.1            Ensembl
26             Axolotl         AmexG_v6.0-DD  Axolotl-omics.org

In [7]:
# There seems to be an error in the exporting of peaks from cicero, where 'chr19_24999500_25000000' was saved as 'chr19_24999500_2.5e+07', which causes an error
if timepoint == "E75":
    peaks[132381] = 'chr19_24999500_25000000'

tss_annotated = ma.get_tss_info(peak_str_list=peaks, ref_genome="mm10")

que bed peaks: 207651
tss peaks in que: 27722

The output file after the integration process has three columns: ["peak_id", "gene_short_name", "coaccess"].

“peak_id” is either the TSS peak or the peaks that have a connection to a TSS peak.

“gene_short_name” is the gene name that associated with the TSS site.

“coaccess” is the coaccessibility score between the peak and a TSS peak. If the score is 1, it means that the peak is a TSS itself.

In [10]:
tss_annotated

         chr      start        end gene_short_name strand
0      chr12  102757622  102758122            Ubr7      -
1      chr12  102758265  102758765            Ubr7      -
2      chr17   24168564   24169064     Atp6v0c-ps2      -
3      chr17   24169206   24169706     Atp6v0c-ps2      -
4      chr17   24169744   24170244     Atp6v0c-ps2      -
...      ...        ...        ...             ...    ...
27717   chr5  119200529  119201029          Gm7538      -
27718  chr12  100899218  100899718           Gpr68      -
27719   chr4  129490955  129491455         Fam229a      -
27720   chr4  129491503  129492003         Fam229a      -
27721  chr17   24473732   24474232          Bricd5      +

[27722 rows x 5 columns]

### 4. Integrate TSS info and cicero connections
The output file after the integration process has three columns: ["peak_id", "gene_short_name", "coaccess"].

“peak_id” is either the TSS peak or the peaks that have a connection to a TSS peak.

“gene_short_name” is the gene name that associated with the TSS site.

“coaccess” is the coaccessibility score between the peak and a TSS peak. If the score is 1, it means that the peak is a TSS itself.

In [11]:
integrated = ma.integrate_tss_peak_with_cicero(tss_peak=tss_annotated,
                                               cicero_connections=cicero_connections)
print(integrated.shape)
integrated.head()

(1010927, 3)

                     peak_id gene_short_name  coaccess
0  chr10_100015474_100015974            Kitl  1.000000
1  chr10_100015474_100015974           Tmtc3  0.075208
2  chr10_100016014_100016514            Kitl  0.313336
3  chr10_100016014_100016514           Tmtc3  0.007878
4  chr10_100017557_100018057            Kitl  0.017153

### 5. Filter peaks
Remove peaks with weak coaccessibility scores.

In [11]:
peak = integrated[integrated.coaccess >= 0.8]
peak = peak[["peak_id", "gene_short_name"]].reset_index(drop=True)

In [12]:
print(peak.shape)
peak.head()

(25905, 2)

                     peak_id gene_short_name
0  chr10_100015519_100016019            Kitl
1  chr10_100487279_100487779           Tmtc3
2  chr10_100487943_100488443          Cep290
3  chr10_100487943_100488443           Tmtc3
4  chr10_100589013_100589513   4930430F08Rik

### 6. Save data
Save the promoter/enhancer peaks.

In [13]:
peak.to_csv(f"./data/base_grn_outputs/{timepoint}/processed_peak_file.csv")